
@{
    ViewData["Title"] = "AboutUs";
}

<h2>AboutUs</h2>
<br />
<br />
Stocks and Company Stats:
<br />
<br />
<p>
    In this application, 4 APIs are been used to create the strategies to pick the best stocks.
    <br />
    The APIs we are using are :
    <br />
    1. Company Name: It will show the details of companies.
    <br />
    2. Home: Home tab will display the name s of different companies, It will also have tabs to go to dividends, statistics and company logo. The user can click on the tabs and it will direct user to those pages.
    <br />
    3. Dividends: The dividends page will give the user about the dividends company own and with this user can get to know about the company.
    <br />
    4. Company Statistics: This page would shoow about the companies statistics position such as Market growth, revenue, gross profit and debt summary.
    <br />
    5. Sectors: This page will give user an overview about the company's performance in various industry sectors.'
</p>
<p>
    Few APIs in the application are missing data currently. Therefore it is hard to derive at the results for picking up best stock.
    But can certainly give an intuitive idea about the strategy.
</p>
<p>
    Mohit created the model class and controllers.
</p>
<p>
    Sagar created the strategy, views and deployed the website in Azure.
</p>
<p>
    Keshav created the Logo API full stack development.
</p>
<p>
    Here is the link for the github repository we used for the project.
    <br />
    <br />
    <a href="https://github.com/mdedhe/MVC_Project">GitHub</a>
    <br />
    <br />

</p>