
@{
    ViewData["Title"] = "AboutUs";
}

<h2>AboutUs</h2>
<br />
<br />
Stocks and Company Stats:
<br />
<br />
<p>
    In this application, 4 APIs are been used to create the strategies to pick the best stocks.
    <br />
    The APIs we are using are :
    <br />
    1. Company Name
    <br />
    2. Home
    <br />
    3. Dividends.
    <br />
    4. Company Statistics
    <br />
    5. Sectors
</p>
<p>
    Few APIs in the application are missing data currently. Therefore it is hard to derive at the results for picking up best stock.
    But can certainly give an intuitive idea about the strategy.
</p>
<p>
    Mohit created the model class and controllers.
</p>
<p>
    Sagar created the strategy, views and deployed the website in Azure.
</p>
<p>
    Keshav created the Logo API full stack development.
</p>
<p>
    Here is the link for the github repository we used for the project.
    <br />
    <br />
    <a href="https://github.com/mdedhe/MVC_Project">GitHub</a>
    <br />
    <br />

</p>