@model MVC_Project.Models.Logo

@{
    ViewData["Title"] = "Logo";
}

<h2>Logo</h2>

<div>
    <h4>Logo</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <img src="@Model.url" asp-append-version="true" />
    <a asp-action="Index">Back to List</a>
</div>
